[API]
Port = 8085                                                              # The port number that the web server listens on
MultiAddress = "/ip4/<PUBLIC_IP>/tcp/<PORT>"                             # The multiAddress for libp2p
Domain = ""                                                              # The domain name
NodeName = "<YOUR_CP_Node_Name>"                                         # The computing-provider node name
WalletWhiteList = ""                                                     # CP accept user addresses from this whitelist for space deployment
WalletBlackList = ""                                                     # CP reject user addresses from this blacklist for space deployment

[UBI]
UbiEnginePk = "0xB5aeb540B4895cd024c1625E146684940A849ED9"                # UBI Engine's public key, CP only accept the task from this UBI engine

[LOG]
CrtFile = "/YOUR_DOMAIN_NAME_CRT_PATH/server.crt"                         # Your domain name SSL .crt file path
KeyFile = "/YOUR_DOMAIN_NAME_KEY_PATH/server.key"                         # Your domain name SSL .key file path

[HUB]
ServerUrl = "https://orchestrator-mainnet-api.swanchain.io"               # The Orchestrator's API address
AccessToken = "<YOUR_Access_Token>"                                       # The Orchestrator's access token, switch to the mainnet network and acquired from "https://orchestrator.swanchain.io/provider-status"
BalanceThreshold= 0.1                                                     # The cp’s collateral balance threshold
OrchestratorPk = "0x4B98086A20f3C19530AF32D21F85Bc6399358e20"             # Orchestrator's public key, CP only accept the task from this Orchestrator
VerifySign = true                                                         # Verify that the task signature is from Orchestrator

[MCS]
ApiKey = ""                                                               # Acquired from "https://www.multichain.storage" -> setting -> Create API Key
BucketName = ""                                                           # Acquired from "https://www.multichain.storage" -> bucket -> Add Bucket
Network = "polygon.mainnet"                                               # polygon.mainnet for mainnet, polygon.mumbai for testnet

[Registry]
ServerAddress = ""                                                        # The docker container image registry address, if only a single node, you can ignore
UserName = ""                                                             # The login username, if only a single node, you can ignore
Password = ""                                                             # The login password, if only a single node, you can ignore

[RPC]
SWAN_CHAIN_RPC = "https://mainnet-rpc01.swanchain.io"                     # Swan chain RPC

[CONTRACT]
SWAN_CONTRACT = "0xAF90ac6428775E1Be06BAFA932c2d80119a7bd02"              # Swan token's contract address
SWAN_COLLATERAL_CONTRACT = "0x48966A3eb8C1b584Ac9E7767bC9607e235245C81"   # Swan's collateral address
REGISTER_CP_CONTRACT = "0xbef1ec33e5Ac3a491fFeE1600e0b00eac97cb138"       # The CP registration contract address
ZK_COLLATERAL_CONTRACT = "0x1d2557C9d14882D9eE291BB66eaC6c1C4a587054"     # The ZK task's collateral contract address
